apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp-deployment
spec:
  selector:
    matchLabels:
      tier: frontend
  replicas: 3
  template:
    metadata:
      labels:
        tier: frontend
    spec:
      containers:
        - name: nodeapp-container
          image: karthik1409docker/nodeapps:v1
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: nodeapp-svc
spec:
  selector: 
    tier: frontend
  type: LoadBalancer
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30000
